In [2]:
import numpy as np

In [3]:
import pandas as pb

In [5]:
File = pb.read_csv("Live_prices.csv")
File.head()

   Unnamed: 0  product_id  sp  mrp  superstore_id    city
0           0           1  45   45          29561  HR-NCR
1           1           1  45   45          29566  HR-NCR
2           2           1  45   45          29600  HR-NCR
3           3           1  45   45          29665  HR-NCR
4           4           1  45   45          29668  HR-NCR

In [6]:
File.count()

Unnamed: 0       172712
product_id       172712
sp               172712
mrp              172712
superstore_id    172712
city             172712
dtype: int64

In [11]:
New_file=File[["product_id","sp","mrp"]]
New_file1=File[["product_id","sp","city"]]
New_file.head()

   product_id  sp  mrp
0           1  45   45
1           1  45   45
2           1  45   45
3           1  45   45
4           1  45   45

In [12]:
New_file1.head()

   product_id  sp    city
0           1  45  HR-NCR
1           1  45  HR-NCR
2           1  45  HR-NCR
3           1  45  HR-NCR
4           1  45  HR-NCR